[submodule "extern/cgltf"]
	path = extern/cgltf
	url = https://github.com/jkuhlmann/cgltf
[submodule "extern/MikkTSpace"]
	path = extern/MikkTSpace
	url = https://github.com/mmikk/MikkTSpace
[submodule "extern/cargs"]
	path = extern/cargs
	url = https://github.com/likle/cargs.git
[submodule "extern/meshoptimizer"]
	path = extern/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
