name: Deploy Release

on:
  workflow_call:
    inputs:
      version-name:
        required: true
        type: string
      release-notes:
        required: false
        type: string
        default: 'TBD'
      tag-name:
        required: false
        type: string
      publish-prerelease:
        required: false
        default: false
        type: boolean

jobs:
  build-2505:
    name: Build guc for USD v25.05
    uses: ./.github/workflows/build-usd.yml
    with:
      usd-version: 25.05
      build-config: Release

  build-2502:
    name: Build guc for USD v25.02
    uses: ./.github/workflows/build-usd.yml
    with:
      usd-version: 25.02
      build-config: Release

  build-2411:
    name: Build guc for USD v24.11
    uses: ./.github/workflows/build-usd.yml
    with:
      usd-version: 24.11
      build-config: Release

  build-2408:
    name: Build guc for USD v24.08
    uses: ./.github/workflows/build-usd.yml
    with:
      usd-version: 24.08
      build-config: Release

  build-2405:
    name: Build guc for USD v24.05
    uses: ./.github/workflows/build-usd.yml
    with:
      usd-version: 24.05
      build-config: Release

  build-2403:
    name: Build guc for USD v24.03
    uses: ./.github/workflows/build-usd.yml
    with:
      usd-version: 24.03
      build-config: Release

  deploy-release:
    name: Deploy Release
    needs: [build-2502, build-2411, build-2408, build-2405, build-2403]
    runs-on: ubuntu-latest

    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          merge-multiple: true

      - name: Deploy draft release
        uses: softprops/action-gh-release@d4e8205d7e959a9107da6396278b2f1f07af0f9b
        with:
          name: ${{ inputs.version-name }}
          body: ${{ inputs.release-notes }}
          files: |
            *.tar.gz
          fail_on_unmatched_files: true
          tag_name: ${{ inputs.tag-name }}
          prerelease: ${{ inputs.publish-prerelease }}
          draft: ${{ ! inputs.publish-prerelease }}
          make_latest: false
