name: USD v25.02

on:
  push:
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'

jobs:
  run-tests:
    name: Run Tests for USD v25.02
    uses: ./.github/workflows/run-tests.yml
    with:
      usd-version: 25.02
      test-filter: '-Draco|_Below2411'
